HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

receiver/.idea
receiver/target
receiver/!.mvn/wrapper/maven-wrapper.jar
receiver/!**/src/main/**/target/
receiver/!**/src/test/**/target/
sender/target
sender/!.mvn/wrapper/maven-wrapper.jar
sender/!**/src/main/**/target/
sender/!**/src/test/**/target/
sender/.idea

.DS_Store
deployment/secrets.yaml
